@font-face {
    font-family: 'Tuiter Font';
    src: url("../media/fonts/LastingSketch.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}


*
{
    /* margin:0;
    padding:0; */
    /* border:0; */
    /* outline:0; */
    /* font-size:100%;
    vertical-align:baseline; */
    /* background:transparent; */
    
    
    /*background-color: whitesmoke; */
    /*font-family: 'Tuiter Font';*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
    padding: 5vh;
}

button, input{
    width: 50%;
}

textarea, input{
    font-family: 'Tuiter Font';
    font-size: 20px;
    font-weight: 400;
    
    /*border-color: rgb(29, 155, 240);    */
    border: none;
    color: gray;
}

input{
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;    
    
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.spanRojo{
    color: red;
}

fieldset, label, input, .cont-btns-form{
    display: flex;
    flex-direction: column;
    border: none;

    /*background-color: rgb(181, 255, 249);*/
}

fieldset>*{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.formulario{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20vh;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}

.cont-btns-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btns{
    font-family: 'Tuiter Font';
    font: inherit;
    font-size: large;
    width: max-content;
    /* width: 50%; */
    background-color: rgb(29, 155, 240);
    color: white;
    border-color: rgb(29, 155, 240);
    padding-left: 16px;
    padding-right: 16px;

    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;

    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;    

    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;

    
    min-height: 36px;


    
}
button:hover{
    cursor: pointer;
}

img.img_perfil{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;    
}

.contenedor-navbar{
    display: flex;
    justify-content: center;
}

.contCenter{
    display: flex;
    justify-content: center;
}

#btnEnviar{
    
}

#contInfoUsers{
    margin-left: 5vh;
}

input{
    margin-top: 0vh;
}
label{
    margin-bottom: 5px;
    font-weight:bolder;
    
}
span{
    display: inline;
    width:fit-content;
}
#labelMeGusta{
    display: flex;
    flex-direction: row;    
}


/*--------------------------------------- PUBLICACIONES -------------------------------------------*/
main{
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center;         */
}
article>div, div>div{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
div>span{
    margin-left: 2vh;
    margin-right: 2vh;
}
.publicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.infoPub{
    display: flex;
    flex-direction: column;    
}
.perfil-fecha, .megusta-comentarios-retuits{
    display: flex;
    flex-direction: row;    
}
.nombreUsuario{
    font-weight: 600;
}
.nombreUser, .fecha{
    font-weight: 300;
    color: gray;
}
.cont3-gcr{
    font-weight: 500;
    color: rgb(83, 100, 113);
}
.img_perfil-pequeña{
    width: 6vh !important;
    height: 6vh !important;
}
.foto-pub{
    padding: none;
    margin: 0;
}
.fotoPerfil{
    padding-right: 5vh;
}

.center{
    display: flex;
    justify-content: center;
}